APP_PORT=1338

###POSTGRESQL###
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=withdraw

###REDIS###
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_DB=0
REDIS_ON=true

NODE_ENV=dev

###TRON###
THRESHOLD=19
FULL_NODE=http://162.55.100.72:8090
SOLIDITY_NODE=http://162.55.100.72:8091
MAIN_PRIV_KEY=5433F733C95B5799DF74A967BDF6171657B3194964FF233497824AF34C0D54FC
